{% extends 'layout.html' %}
    {% block main %}
    <section>

        <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="../static/img/Shorts women.webp" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">woemns shorts </h4>
                <p class="card-text">woemns shorts </p>
            </div>
            <div class="card-footer"><a  class="btn btn-primary">Shop</a></div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../static/img/Sports bra women.webp" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">woemns sports braa</h4>
                <p class="card-text">woemns sports braa</p>
            </div>
            <div class="card-footer"><a  class="btn btn-primary">Shop</a></div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../static/img/VIEWALL WOMEN.webp" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">woemns sports braa</h4>
                <p class="card-text">woemns sports braa</p>
            </div>
            <div class="card-footer"><a  class="btn btn-primary">Shop</a></div>
        </div>
        </div>
    
    </section>
    {% endblock %}
    